<script type='text/javascript'>
	$(function() {
		Dashing.widget_base_dimensions = [170, 170]
		Dashing.numColumns = 10
	});
</script>
 
<% content_for :title do %>ED Server Status<% end %>
 
<div class="gridster">
	<ul>
	</ul>
</div>