<script type='text/javascript'>
	$(function() {
		Dashing.widget_base_dimensions = [170, 170]
		Dashing.numColumns = 10
	});
</script>
 
<div class="gridster">
<ul>
<li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
	<div data-id="welcome" data-view="Text" data-title="ED Server Status" style="background-color: #4b4b4b">
	</div>
</li>
<li data-row="2" data-col="1" data-sizex="2" data-sizey="2">
	<div data-view="Clock" style="background-color: #4b4b4b"></div>
	<i class="icon-time icon-background"></i>
</li>

<!-- mystaffinfo -->
<li data-row="1" data-col="3" data-sizex="2" data-sizey="1">
	<div data-id="header-mystaffinfo" data-view="Text" data-title="MyStaffInfo" style="background-color: #3c3c3c"></div>
</li>
<li data-row="1" data-col="5" data-sizex="1" data-sizey="1">
	<div data-id="sss-mystaffinfo" data-view="ServerStatusSquares" data-title="MyStaffInfo Production"></div>
</li>

<!-- EXO Relay -->
<li data-row="1" data-col="6" data-sizex="2" data-sizey="1">
	<div data-id="header-relay" data-view="Text" data-title="EXO Relay" style="background-color: #3c3c3c"></div>
</li>
<li data-row="1" data-col="8" data-sizex="1" data-sizey="1">
	<div data-id="sss-relayA" data-view="ServerStatusSquares" data-title="EXO Relay Zone A"></div>
</li>
<li data-row="1" data-col="9" data-sizex="1" data-sizey="1">
	<div data-id="sss-relayB" data-view="ServerStatusSquares" data-title="EXO Relay Zone B"></div>
</li>

<li data-row="1" data-col="6" data-sizex="2" data-sizey="1">
	<div data-id="header-advanced" data-view="Text" data-title="Advanced Business" style="background-color: #3c3c3c"></div>
</li>
<% for i in 0..24 %>
	<li data-row="2" data-col="5" data-sizex="1" data-sizey="1">
		<div data-id="url-status-<%= i %>" data-view="ServerStatusSquares"></div>
	</li>
<% end %>

<!-- GRAPHITE SAMPLE -->
<li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
<div data-view="Graphite" data-image="http://graphite-web.dev.natasha.myob.co.nz/render?from=-6h&until=now&target=alias(*stack-254_dev_natasha_myob_co_nz.memory.total.available_mbytes%2C%27Training%20Available%20Memory%27)&format=png&maxDataPoints=960&width=1872&height=298&bgcolor=1f1f1f&fgcolor=BBBFC2&areaAlpha=0.1&lineWidth=2&yUnitSystem=si&lineMode=connected" data-interval="60000"></div>
</li>
<li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
<div data-view="Graphite" data-image="http://graphite-web.dev.natasha.myob.co.nz/render?from=-6h&until=now&target=alias(*stack-254_dev_natasha_myob_co_nz.processor._total.%25_processor_time%2C%27Training%20CPU%20%25%27)&format=png&maxDataPoints=960&width=1870&height=250&bgcolor=1f1f1f&fgcolor=BBBFC2&areaAlpha=0.1&lineWidth=2&yMax=100&yUnitSystem=si&lineMode=connected" data-interval="60000"></div>
</li>


</ul>
</div>
