<script type='text/javascript'>
$(function() {
Dashing.widget_base_dimensions = [170, 170]
Dashing.numColumns = 10
});
</script>
 
<% content_for :title do %>ED Server Status<% end %>
 
<div class="gridster">
<ul>
<li data-row="2" data-col="1" data-sizex="2" data-sizey="2">
<div data-view="Clock" style="background-color: #4b4b4b"></div>
<i class="icon-time icon-background"></i>
</li>
 
<li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
<div data-id="welcome" data-view="Text" data-title="ED Server Status" style="background-color: #4b4b4b"></div>
</li>
 
<li data-row="1" data-col="3" data-sizex="1" data-sizey="1">
<div data-id="sss-mystaffinfo" data-view="ServerStatusSquares" data-title="MyStaffInfo"></div>
</li>
<li data-row="2" data-col="3" data-sizex="1" data-sizey="1">
<div data-id="sss-training01" data-view="ServerStatusSquares" data-title="Training 01"></div>
</li>
<li data-row="2" data-col="3" data-sizex="1" data-sizey="1">
<div data-id="sss-training02" data-view="ServerStatusSquares" data-title="Training 02"></div>
</li>
<li data-row="2" data-col="3" data-sizex="1" data-sizey="1">
<div data-id="sss-training03" data-view="ServerStatusSquares" data-title="Training 03"></div>
</li>
<li data-row="2" data-col="3" data-sizex="1" data-sizey="1">
<div data-id="sss-training04" data-view="ServerStatusSquares" data-title="Training 04"></div>
</li>
<li data-row="2" data-col="3" data-sizex="1" data-sizey="1">
<div data-id="sss-training05" data-view="ServerStatusSquares" data-title="Training 05"></div>
</li>
<li data-row="2" data-col="3" data-sizex="1" data-sizey="1">
<div data-id="sss-training06" data-view="ServerStatusSquares" data-title="Training 06"></div>
</li>
<li data-row="2" data-col="3" data-sizex="1" data-sizey="1">
<div data-id="sss-training07" data-view="ServerStatusSquares" data-title="Training 07"></div>
</li>
<li data-row="2" data-col="3" data-sizex="1" data-sizey="1">
<div data-id="sss-training08" data-view="ServerStatusSquares" data-title="Training 08"></div>
</li>
<li data-row="2" data-col="3" data-sizex="1" data-sizey="1">
<div data-id="sss-training09" data-view="ServerStatusSquares" data-title="Training 09"></div>
</li>
<li data-row="2" data-col="3" data-sizex="1" data-sizey="1">
<div data-id="sss-training10" data-view="ServerStatusSquares" data-title="Training 10"></div>
</li>
<li data-row="2" data-col="3" data-sizex="1" data-sizey="1">
<div data-id="sss-relayA" data-view="ServerStatusSquares" data-title="EXO Relay A"></div>
</li>
<li data-row="2" data-col="3" data-sizex="1" data-sizey="1">
<div data-id="sss-relayB" data-view="ServerStatusSquares" data-title="EXO Relay B"></div>
</li>

</ul>
</div>
