<script type='text/javascript'>
	$(function() {
		Dashing.widget_base_dimensions = [170, 170]
		Dashing.numColumns = 10
	});
</script>
 
<% content_for :title do %>ED Server Status<% end %>
 
<div class="gridster">
<ul>
<li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
	<div data-id="welcome" data-view="Text" data-title="ED Server Status" style="background-color: #4b4b4b"></div>
</li>
<li data-row="2" data-col="1" data-sizex="2" data-sizey="2">
	<div data-view="Clock" style="background-color: #4b4b4b"></div>
	<i class="icon-time icon-background"></i>
</li>

<!-- mystaffinfo -->
<li data-row="1" data-col="3" data-sizex="2" data-sizey="1">
	<div data-id="header-mystaffinfo" data-view="Text" data-title="MyStaffInfo" style="background-color: #3c3c3c"></div>
</li>
<li data-row="1" data-col="5" data-sizex="1" data-sizey="1">
	<div data-id="sss-mystaffinfo" data-view="ServerStatusSquares" data-title="MyStaffInfo Production"></div>
</li>

<!-- EXO Relay -->
<li data-row="1" data-col="6" data-sizex="2" data-sizey="1">
	<div data-id="header-relay" data-view="Text" data-title="EXO Relay" style="background-color: #3c3c3c"></div>
</li>
<li data-row="1" data-col="8" data-sizex="1" data-sizey="1">
	<div data-id="sss-relayA" data-view="ServerStatusSquares" data-title="EXO Relay Zone A"></div>
</li>
<li data-row="1" data-col="9" data-sizex="1" data-sizey="1">
	<div data-id="sss-relayB" data-view="ServerStatusSquares" data-title="EXO Relay Zone B"></div>
</li>

<!-- Advanced Business -->
<!-- TRAINING -->
<li data-row="2" data-col="3" data-sizex="2" data-sizey="1">
	<div data-id="header-training" data-view="Text" data-title="Advanced Business Training Environments" style="background-color: #3c3c3c"></div>
</li>
<li data-row="2" data-col="5" data-sizex="1" data-sizey="1">
<div data-id="sss-training01" data-view="ServerStatusSquares" data-title="Training 01"></div>
</li>
<li data-row="2" data-col="6" data-sizex="1" data-sizey="1">
<div data-id="sss-training02" data-view="ServerStatusSquares" data-title="Training 02"></div>
</li>
<li data-row="2" data-col="7" data-sizex="1" data-sizey="1">
<div data-id="sss-training03" data-view="ServerStatusSquares" data-title="Training 03"></div>
</li>
<li data-row="2" data-col="8" data-sizex="1" data-sizey="1">
<div data-id="sss-training04" data-view="ServerStatusSquares" data-title="Training 04"></div>
</li>
<li data-row="2" data-col="9" data-sizex="1" data-sizey="1">
<div data-id="sss-training05" data-view="ServerStatusSquares" data-title="Training 05"></div>
</li>
<li data-row="2" data-col="10" data-sizex="1" data-sizey="1">
<div data-id="sss-training06" data-view="ServerStatusSquares" data-title="Training 06"></div>
</li>
<li data-row="3" data-col="3" data-sizex="1" data-sizey="1">
<div data-id="sss-training07" data-view="ServerStatusSquares" data-title="Training 07"></div>
</li>
<li data-row="3" data-col="4" data-sizex="1" data-sizey="1">
<div data-id="sss-training08" data-view="ServerStatusSquares" data-title="Training 08"></div>
</li>
<li data-row="3" data-col="5" data-sizex="1" data-sizey="1">
<div data-id="sss-training09" data-view="ServerStatusSquares" data-title="Training 09"></div>
</li>
<li data-row="3" data-col="6" data-sizex="1" data-sizey="1">
<div data-id="sss-training10" data-view="ServerStatusSquares" data-title="Training 10"></div>
</li>
<li data-row="3" data-col="7" data-sizex="1" data-sizey="1">
<div data-id="sss-training11" data-view="ServerStatusSquares" data-title="Training 11"></div>
</li>
<li data-row="3" data-col="8" data-sizex="1" data-sizey="1">
<div data-id="sss-training12" data-view="ServerStatusSquares" data-title="Training 12"></div>
</li>
<li data-row="3" data-col="9" data-sizex="1" data-sizey="1">
<div data-id="sss-training13" data-view="ServerStatusSquares" data-title="Training 13"></div>
</li>
<li data-row="3" data-col="10" data-sizex="1" data-sizey="1">
<div data-id="sss-training14" data-view="ServerStatusSquares" data-title="Training 14"></div>
</li>
<li data-row="4" data-col="1" data-sizex="1" data-sizey="1">
<div data-id="sss-training15" data-view="ServerStatusSquares" data-title="Training 15"></div>
</li>
<li data-row="4" data-col="2" data-sizex="1" data-sizey="1">
<div data-id="sss-training16" data-view="ServerStatusSquares" data-title="Training 16"></div>
</li>

<li data-row="4" data-col="3" data-sizex="2" data-sizey="1">
	<div data-id="header-beta" data-view="Text" data-title="Advanced Business Beta Environments" style="background-color: #3c3c3c"></div>
</li>

<li data-row="4" data-col="5" data-sizex="1" data-sizey="1">
<div data-id="sss-beta01" data-view="ServerStatusSquares" data-title="Beta 01"></div>
</li>
<li data-row="4" data-col="6" data-sizex="1" data-sizey="1">
<div data-id="sss-beta01" data-view="ServerStatusSquares" data-title="Beta 02"></div>
</li>


</ul>
</div>
