<% content_for :title do %>Build Status<% end %>
<div class="gridster">
  <ul>
    <!-- ROW 1 -->
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
     	<div data-id="welcome" data-view="Text" data-title="MYOB EXO Employer Services" data-text="Build Server Status" style="background-color: #800080"></div>
    </li>
	<li data-row="1" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="Row1_Col2" data-view="TeamCity" data-unordered="true" data-title="ES Core Trunk"></div>
    </li>
    <li data-row="1" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="Row1_Col3" data-view="TeamCity" data-unordered="true" data-title="ES Full Build"></div>
    </li>
    <li data-row="1" data-col="4" data-sizex="1" data-sizey="1">
      <div data-id="Row1_Col4" data-view="TeamCity" data-unordered="true" data-title="ES Branch Build"></div>
    </li>
    <li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
     	<div data-id="welcome" data-view="Text" data-title="MYOB EXO Employer Services" data-text="Test Automation Status" style="background-color: #800080"></div>
    </li>
	<li data-row="2" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="Row2_Col2" data-view="TeamCity" data-unordered="true" data-title="Regression Test Suite"></div>
    </li>
	<li data-row="2" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="Row2_Col3" data-view="TeamCity" data-unordered="true" data-title="AU All Modules Automation Test"></div>
    </li>
	<li data-row="2" data-col="4" data-sizex="1" data-sizey="1">
      <div data-id="Row2_Col4" data-view="TeamCity" data-unordered="true" data-title="NZ All Modules Automation Test"></div>
    </li>	
  </ul>
 </div>
